.demoA-container {
  /* border: 3px solid orange; */
  min-height: 100%;
  width: 100%;
}
.demoA-upper {
  width: 90%;
  display: grid;
  margin: 0 auto 20px;
  grid-template-columns: 4fr 2fr;
  gap: 10px;
}
/* Navbar */
.mws-navbar-1 {
  border: 0.5px solid rgba(128, 128, 128, 0.35);
  width: 100%;
  margin: 5px auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.mws-navbar-1-link {
  padding: 0px 15px 20px;
  cursor: pointer;
  display: none;
}

.mws-navbar-1 .mws-navbar-1-selected {
  border-bottom: 2px solid gray;
}
.mws-navbar-1-menu-container {
  position: relative;
  height: 50px;
  width: 50px;
}
.mws-navbar-1-menu-bar {
  position: absolute;
  height: 3px;
  width: 70%;
  background-color: #339af0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.mws-upper {
  top: 25%;
}
.mws-middle {
  top: 65%;
}
.mws-lower {
  top: 45%;
  /* left: 35%;
  width: 80%; */
}

/* Dropdown */
.mws-navbar-dropdown-1 {
  position: relative;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  height: 80%;
  margin: auto auto;
  width: 100%;
  max-width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.05);
}
.mws-navbar-dropdown-image {
  display: flex;
  gap: 10px;
  border: 1px solid gray;
  border-radius: 50%;
}
.mws-navbar-dropdown-image img {
  width: 100%;
  max-width: 50px;
  border-radius: 50%;
  vertical-align: middle;
}
.mws-navbar-dropdown-label {
  display: none;
}
.mws-navbar-dropdown-label img {
  width: 20px;
  cursor: pointer;
}
.mws-dropdown-1-options {
  display: none;
  position: absolute;
  /* background-color: #339af0; */
  background-color: rgba(128, 128, 128, 0.5);
  background-color: rgba(153, 188, 216, 0.75);
  width: 100%;
  top: 110%;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
}
.mws-dropdown-1-options > div {
  padding: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

/* DemoA-Main */
.demoA-main {
  display: grid;
  grid-template-columns: 1fr;
  /* border: 1px solid green; */
}
.demoA-block-1 {
  border: 1px solid rgba(128, 128, 128, 0.35);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.demoA-block-1-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 15px;
}
.demoA-grid-unit {
  border: 1px solid rgba(128, 128, 128, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  border-radius: 7.5px;
  cursor: pointer;
  box-shadow: 0 4px 7.5px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-in-out;
}
.demoA-grid-unit:nth-child(even) {
  display: none;
}
.demoA-grid-unit-image {
  height: 100px;

  width: 100%;
  margin: auto auto;
  max-width: 350px;
  border-radius: 10px;
  background-color: #339af0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.demoA-grid-unit-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.demoA-block-2 {
  height: 100%;
  width: 80%;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  box-shadow: 0 4px 7.5px rgba(0, 0, 0, 0.1);
}
.demoA-block-2 {
  display: none;
}
.demoA-block-2-image {
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 90%;
  background-color: #339af0;
  border-radius: 10px;
  margin-bottom: 10px;
}
.demoA-block-2 img {
  width: 100%;
  max-width: 20px;
}
.demoA-block-2-readMore {
  margin-top: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media only screen and (min-width: 600px) {
  .demoA-block-1-grid {
    grid-template-columns: 1fr 1fr;
  }
  .demoA-grid-unit:nth-child(even) {
    display: grid;
  }
}

@media only screen and (min-width: 900px) {
  .mws-navbar-1 {
    justify-content: space-evenly;
    padding: 20px 20px 0px;
  }
  .mws-navbar-1-link {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .mws-navbar-1-menu-container {
    display: none;
  }
  .mws-navbar-dropdown-label {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
  }
  .mws-navbar-dropdown-image {
    display: none;
  }
  .mws-dropdown-1-options {
    display: block;
    position: absolute;
    /* background-color: #339af0; */
    min-height: 100px;
    width: 100%;
    top: 120%;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    cursor: pointer;
  }
  .mws-dropdown-1-options > div:hover {
    background-color: rgba(128, 128, 128, 0.125);
  }
  /* DemoA-Main */
  .demoA-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .demoA-grid-unit:hover {
    transform: translateY(-5px);
  }

  .demoA-block-2 {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
  }
}
