.block-b-container {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.block-b-main-block {
  display: flex;
  flex-direction: column-reverse;
}
.block-b-text {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.block-b-text small {
  background-color: var(--primary-button);
  width: max-content;
  padding: 7.5px;
  border-radius: 5px;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.block-b-text span {
  /* color: var(--color-primary); */
}
.block-b-image {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.block-b-card {
  border: 2px solid rgba(128, 128, 128, 0.25);
  padding: 5px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.25);
  width: 90%;
  gap: 4px;
  /* background-color: rgba(245, 245, 245, 0.25); */
  box-shadow: 0.1px 0.2px rgba(211, 211, 211, 0.125);
  padding-bottom: 15px;
}

.bbi-image {
  /* border: 2px solid rgba(128, 128, 128, 0.125); */
  display: flex;
  /* background-color: aliceblue; */
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.bbi-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 5px;

  /* border: 1px solid gray; */
}
.bbi-text p {
  margin-bottom: 15px;
}
.bbi-text p {
}
.block-b-image img {
  width: 90%;
  max-width: 45px;
}

.block-b-scrolling-container {
  border: 1px solid rgba(128, 128, 128, 0.25);
  height: 320px;
  width: 100%;
  overflow-y: hidden;
  background-color: red;
}
.block-b-scrolling-contents {
  width: 90%;
  margin: 0 auto;
  height: 400%;
  background-color: aliceblue;
  position: relative;
  transition: all 0.35s ease-in-out;
}
.block-b-box {
  position: absolute;
  border: 1px solid black;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 25%;
}
#box-1 {
  background-color: blue;
}
#box-2 {
  background-color: red;
  top: 25%;
}
#box-3 {
  background-color: green;
  top: 50%;
}
#box-4 {
  background-color: yellow;
  top: 75%;
}

@media only screen and (min-width: 600px) {
  .block-b-image {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1080px) {
  .block-b-card {
    grid-template-columns: 2fr 3.5fr;
    grid-template-rows: 1fr;
    padding-top: 40px;
    padding-bottom: 55px;
  }
  .block-b-text {
    max-width: 900px;
  }
  .bbi-image {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0px;
  }
  .block-b-image {
    width: 100%;
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    align-items: center;
  }
}
