.block-b-container {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.block-b-main-block {
  display: flex;
  flex-direction: column-reverse;
}
.block-b-text {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.block-b-text small {
  background-color: var(--primary-button);
  width: max-content;
  padding: 7.5px;
  border-radius: 5px;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 3px;
}
.block-b-text span {
  /* color: var(--color-primary); */
}
.block-b-image {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.block-b-image > div {
  border: 2px solid rgba(128, 128, 128, 0.25);
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-b-image img {
  width: 100%;
  max-width: 50px;
}

.block-b-scrolling-container {
  border: 1px solid rgba(128, 128, 128, 0.25);
  height: 320px;
  width: 100%;
  overflow-y: hidden;
  background-color: red;
}
.block-b-scrolling-contents {
  width: 90%;
  margin: 0 auto;
  height: 400%;
  background-color: aliceblue;
  position: relative;
  transition: all 0.35s ease-in-out;
}
.block-b-box {
  position: absolute;
  border: 1px solid black;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 25%;
}
#box-1 {
  background-color: blue;
}
#box-2 {
  background-color: red;
  top: 25%;
}
#box-3 {
  background-color: green;
  top: 50%;
}
#box-4 {
  background-color: yellow;
  top: 75%;
}

@media only screen and (min-width: 900px) {
  .block-b-container {
  }
  .block-b-text {
    max-width: 900px;
  }
  .block-b-image {
    width: 100%;
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    align-items: center;
  }
}
