.code-sample-container {
  border: 0.5px solid grey;
  height: 500px;
  width: 95%;
  min-width: 300px;
  max-width: 700px;
  background-color: var(--code-bg);
  border-radius: 5px;
  padding: 10px;
  font-family: "Inconsolata", monospace;
  font-size: x-small;
}
.code-sample-line {
  white-space: nowrap;
  margin-bottom: 6.5px;
}
.section-separation {
  height: 52px;
  width: 100%;
  /* border: 1px solid red; */
}

@media only screen and (min-width: 768px) {
  .code-sample-container {
    font-size: small;
  }
}
