@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Fira+Code:wght@300..700&family=Inconsolata:wght@400;500;700;900&display=swap");

.code-sample-container {
  /* border: 0.5px solid rgba(128, 128, 128, 0.35); */
  /* border: 3px solid goldenrod; */
  border-top: 1px solid gray;
  padding-top: 5px;
  border-right: none;
  height: 300px;
  width: 100%;
  min-width: 300px;
  /* max-width: 700px; */
  background-color: var(--code-bg);
  border-bottom-left-radius: 15px;
  padding: 30px 15px;
  font-family: "Inconsolata", monospace;
  font-size: xx-small;
  margin-bottom: 100px;
  overflow-x: scroll;
  font-family: "Fira Code", monospace;
  /* overflow-y: scroll; */
  /* border-radius: 5px; */
  /* margin-top: 50px; */
  /* border: 1px solid red; */
}
.code-sample-container .showcase-component-code {
  border: 0.5px solid rgba(128, 128, 128, 0.35) !important;
}
.code-sample-line {
  white-space: nowrap;
  margin-bottom: 6.5px;
}
.section-separation {
  height: 32px;
  width: 100%;
  /* border: 1px solid red; */
}

@media only screen and (min-width: 768px) {
  .code-sample-container {
    font-size: 12px;
    overflow-x: auto;
    border-top: none;
    padding-top: 5px;
  }
}
