.code-sample-container {
  border: 0.5px solid rgba(128, 128, 128, 0.35);
  height: max-content;
  width: 95%;
  min-width: 300px;
  /* max-width: 700px; */
  background-color: var(--code-bg);
  border-radius: 5px;
  padding: 10px 15px;
  font-family: "Inconsolata", monospace;
  font-size: xx-small;
  margin-bottom: 100px;
  overflow-x: scroll;
  /* border-radius: 5px; */
  /* margin-top: 50px; */
  /* border: 1px solid red; */
}
.code-sample-line {
  white-space: nowrap;
  margin-bottom: 6.5px;
}
.section-separation {
  height: 32px;
  width: 100%;
  /* border: 1px solid red; */
}

@media only screen and (min-width: 768px) {
  .code-sample-container {
    font-size: xx-small;
    overflow-x: auto;
  }
}
