.blurred-gradient-container {
  position: absolute;
  width: 100%;
  max-width: var(--max-width);
  height: 80vh;
  overflow-x: hidden;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.circle {
  width: 85px; /* 50px radius */
  height: 85px; /* 50px radius */
  border-radius: 50%; /* Makes it a circle */
  position: absolute;
  transform: translate(50%, 50%);
  top: 95px; /* 50% overlap vertically */
}

.red {
  background-color: red;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );

  left: 40%;
  top: 30%;
}

.blue {
  background-color: blue;
  left: 30%; /* additional 50px to overlap by 50% */
}

.square {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  backdrop-filter: blur(40px); /* blurs elements behind it */
}

@media only screen and (min-width: 1024px) {
  .blurred-gradient-container {
    width: 95%;
    height: 550px;
  }

  .circle {
    width: 120px; /* 50px radius */
    height: 120px; /* 50px radius */
    top: 150px; /* 50% overlap vertically */
  }

  .red {
    left: 50%;
    top: 30%;
  }

  .blue {
    left: 40%; /* additional 50px to overlap by 50% */
  }

  .square {
    width: 100%;
    height: 100%;

    backdrop-filter: blur(100px); /* blurs elements behind it */
  }
}
