.code-editor {
  margin: 100px auto;
  display: grid;

  grid-gap: 10px;
}
.highlight {
  border: 1px solid rgba(128, 128, 128, 0.75);
}

@media only screen and (min-width: 768px) {
  .code-editor {
    grid-template-columns: repeat(2, 1fr);
  }
}
