.navbar-logo,
.navbar-logo a {
  font-weight: 700;
  color: white;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: large;
}

.navbar-container {
  position: relative;
  overflow: hidden;
}
.mws-app {
  width: 100%;
}
.navbar {
  padding: 20px 0px;
  width: 95%;
  margin: 0 auto;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
}
.navbar-main {
  display: flex;
  gap: 70px;
}
.navbar-links-lg {
  display: none;
}
.btn.btn-nav {
  display: none;
}
.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5px;
}
.navbar-logo img {
  width: 100%;
  max-width: 28px;
  display: flex;
}
.navbar-menu-button {
  border: 0.5px solid rgba(211, 211, 211, 0.75);
  position: relative;
  height: 32.5px;
  width: 35px;
  border-radius: 5px;
  cursor: pointer;
}

.bar-main {
  position: absolute;
  height: 3px;
  width: 70%;
  background-color: #339af0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.bar-top {
  top: 25%;
}
.bar-bottom {
  top: 65%;
}
.bar-middle {
  top: 45%;
  /* left: 35%;
  width: 80%; */
}

.navbar-mobile-container {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  /* background-color: aliceblue; */
  z-index: 2;
  color: black;
  border: 1px solid red;
  display: flex;
}
.navbar-mobile {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: transparent; */
  z-index: 2;
  transition: all 0.35s ease-in-out;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 10px;
  gap: 20px;
  border-top: 0.5px solid rgba(128, 128, 128, 0.25);
}
.navbar-mobile a {
  font-weight: bold;
}
.navbar-right-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.light-dark-icons img {
  width: 100%;
  max-width: 25px;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .btn.btn-nav {
    display: flex;
  }
}
@media only screen and (min-width: 1024px) {
  .navbar-menu-button {
    display: none;
  }
  .navbar-links-lg,
  .btn-nav {
    display: block;
  }
  .navbar-links-lg {
    display: flex;
    gap: 35px;
  }
  .navbar-links-lg a {
    font-size: 14px;
    font-weight: 700;
  }
  .navbar-mobile {
    display: none;
  }
  .navbar-container {
    overflow: visible;
  }
}
