/* .navbar {
  display: flex;
  justify-content: space-between;
  width: 99%;
  margin: 0 auto;
  padding: 5px 0px;
  height: 50px;
  align-items: center;
  position: relative;
  overflow: visible;
  text-transform: capitalize;
  position: fixed;
  top: 0;
  background-color: white;
}

.links,
.contact-login {
  display: none;
}

.small-menu {
  display: flex;
  flex-direction: column;
}
.menu-div {
  padding: 5px;
}
.menu-div img {
  width: 100%;
  max-width: 30px;
}

.close {
  color: white;
  font-size: 28px;
  font-weight: 700;
}
.side-menu {
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 0 15px;
    font-size: 15px;
  }

  .contact-login {
    display: block;
  }
  .menu-div {
    display: none;
  }
  .side-menu {
    display: none;
  }
} */
/* <div className="navbar-menu-button">
<div className="bar-main bar-top"></div>
<div className="bar-main bar-bottom"></div>
</div> */
.navbar-logo,
.navbar-logo a {
  font-weight: 700;
  color: white;
}

.navbar-container {
  padding: 20px 0px;
  width: 95%;
  margin: 0 auto;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
}
.navbar-links-lg {
  display: none;
}
.btn-nav {
  display: none;
}

.navbar-menu-button {
  border: 1px solid lightgrey;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.bar-main {
  position: absolute;
  height: 2px;
  width: 80%;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.bar-top {
  top: 35%;
}
.bar-bottom {
  top: 65%;
}

@media only screen and (min-width: 1024px) {
  .navbar-menu-button {
    display: none;
  }
  .navbar-links-lg,
  .btn-nav {
    display: block;
  }
  .navbar-links-lg {
    display: flex;
    gap: 10px;
  }
  .navbar-links-lg a {
    font-size: 14px;
    font-weight: 700;
  }
}
