.block3-container {
  text-align: center;
  margin: 100px auto;
  border-bottom: 1px solid grey;
  padding-bottom: 100px;
  border-top: 1px solid grey;
  padding-top: 100px;
}
.block3-container h2 {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.block3-image-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  overflow: hidden;
  flex-wrap: wrap;
}

.block3-container img {
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
}
.block-3-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
@media only screen and (min-width: 1024px) {
  .block3-image-container {
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
  }
}
