.homepage {
  background-color: bisque;
  color: black;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
}

.login-register-form {
  border: 2px solid white;
  width: 100%;
}

.comp-block-1 {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .comp-block-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
