.showcase-container {
  /* border: 1px solid green; */
  height: 550px;
  width: 100%;
  min-width: 300px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-bottom-left-radius: 15px;

  padding: 0px;
}

.showcase-component-container {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(128, 128, 128, 0.15);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.showcase-conveyor-built {
  background-color: aquamarine;

  position: relative;
  width: 100%;
  margin-top: 10%;
  transform: translateX(00%);

  animation: moveConveyor 27s linear infinite reverse;
}
.showcase-component {
  /* border: 1px solid red; */
  height: 150px;
  width: 100%;
  position: absolute;
  top: 0;
}
#first-scc {
  left: 0;
}
#second-scc {
  left: 100%;
}

#third-scc {
  left: 200%;
}

.showcase-component-code {
  background-color: black;
  overflow: hidden;
}
.demo-component {
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 15px;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  /* background-color: rgba(255, 255, 255, 0.5); */
}

.demo-image-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
.demo-image-container img {
  width: 150%;
  height: 100%;
}
.demo-component-author {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
.demo-component-author h3 {
  font-size: large;
}
.demo-component-author small {
  color: var(--primary-button);
}
.demo-author-name {
  display: flex;
  flex-direction: column;
}
.demo-author-name h3,
.demo-author-name small {
  margin: 0;
  letter-spacing: 0.5px;
  font-weight: 600;
}
@media only screen and (min-width: 600px) {
  .showcase-container {
    height: 600px;
    width: 80%;
  }
}

@keyframes moveConveyor {
  0% {
    transform: translateX(0%);
  }
  19% {
    transform: translateX(0%);
  }
  20.25% {
    transform: translateX(-100%);
  }
  39.25% {
    transform: translateX(-100%);
  }
  40.5% {
    transform: translateX(-200%);
  }
  59.5% {
    transform: translateX(-200%);
  }
  60.75% {
    transform: translateX(-100%);
  }
  79.75% {
    transform: translateX(-100%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
