.block-7-upper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  gap: 15px;
  text-align: left;
}

.block-7-upper button {
  width: max-content;
}

.block-7-lower {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 50px;
  margin-bottom: 200px;
}
.block-7-lower-unit {
  width: 100%;
  max-width: 280px;
  height: 230px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: #202c5973;
  background-color: linear-gradient(
    to top right,
    rgba(0, 58, 117, 0.1) 40%,
    rgba(20, 26, 31, 0.2) 100%
  );
  border: 0.25px solid rgba(128, 128, 128, 0.475);
}

.block-7-lower-unit img {
  width: 100%;
  max-width: 70px;
}

@media only screen and (min-width: 1024px) {
  .block-7-lower {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
}
