@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
:root {
  font-family: "Inter", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* --primary-color-bg: #4e598c; */
  --max-width-main: 1340px;
  --padding-top-sm: 80px;
  --padding-top-md: 100px;
  --padding-top-lg: 120px;
  --max-width: 1400px;
  --width: 92.5%;
  --padding-top: 50px;
  --text-primary: white;
  --color-primary: #cc5de8;
  --primary-button: #0d6efd;
  --secondary-color: #92dce5;
  --off-gray: rgba(224, 218, 218, 0.87);
  /* --primary-button: #cc5de8; */
  /* --code-bg: #1e152a; */
  --code-bg: #161719;
}

.gradient {
  position: absolute;
  height: 300px;
  width: 300px;
  top: 0;
  right: 0;
  background: rgb(37, 110, 255);
  background: linear-gradient(
    90deg,
    rgba(37, 110, 255, 1) 0%,
    rgba(69, 171, 228, 1) 0%,
    rgba(53, 111, 173, 1) 100%
  );
  z-index: 2;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text-primary);
  text-align: left;
  box-sizing: border-box;
  /* border: 2px solid red; */
}
body {
  /* background-color: black; */
}

img {
  width: 100%;
  max-width: 600px;
}
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-size: 45.5px;
  margin-bottom: 5px;
  letter-spacing: -2px;
  line-height: 1.1em;
  transition: all 0.45s ease-in-out;
  /* background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  color: #0d6efd;
  color: white; */
  /* color: goldenrod; */
}
#light {
  background-color: white;
  color: #161719;
}

#dark {
  background-color: #161719;
  color: white;
}

#light h1,
#light h2,
#light h3 {
  color: black;
}
.middle-text {
  color: #0d6efd;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-size: 37.5px;
  margin-bottom: 5px;
  line-height: 1.1em;
  letter-spacing: -2px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  color: white;
}

h3 {
  font-size: 35px;
  letter-spacing: -2px;
  line-height: 1.1em;
  margin-bottom: 5px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  color: goldenrod;
  color: white;
}

h4 {
  font-size: 30px;
  letter-spacing: -2px;
  line-height: 1.1em;
  margin-bottom: 5px;
  color: var(--text-primary);
}

p {
  font-size: medium;
  line-height: 1.5em;
  letter-spacing: 1px;
  color: var(--off-gray);
}

#light p {
  color: rgba(0, 0, 0, 0.75);
}

a,
a:visited {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 400;
  font-size: 16px;
  width: max-content;
}

span {
  color: goldenrod;
  color: #92dce5;
  color: var(--primary-button);
}

.btn,
.btn a,
.btn a:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-button);
  padding: 10px 28px !important;
  color: white !important;
  border-radius: 10px;
  margin-bottom: 5px;
  font-weight: 700;
  width: 100%;
  font-size: small;
  letter-spacing: 1px;
  height: 90%;
  max-height: 2.75rem;
  margin-top: 5%;
  margin-top: 0;
}

.search-input {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  background-color: white;
  padding: 10px 28px !important;
  color: grey;
  border-radius: 10px;
  margin-bottom: 5px;
  font-weight: 700;
  width: 100%;
  font-size: small;
  letter-spacing: 1px;
  height: 90%;
  max-height: 2.75rem;
  margin-top: 5%;
  margin-top: 0;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  border: 1px solid rgba(128, 128, 128, 0.25);
}
.search-input small {
  color: #0d6efd;
}
.btn-secondary {
  background-color: gray;
}
.container {
  width: var(--width);
  max-width: var(--max-width);
  margin: 0 auto;

  min-height: 100vh;
  padding-top: var(--padding-top);
}

.page {
  padding-top: var(--padding-top-lg);
  width: 95%;
  margin: 0 auto;
}

input {
  padding: 15px;
  width: 90%;
  border: none;
  border-radius: 5px;
  max-width: 50rem;
  background-color: transparent;
}

input:focus {
  outline: none; /* Removes the outline */
  border: none; /* Removes the border */
}

textarea {
  padding: 15px;
  width: 90%;
  max-width: 40rem;
  border: none;
}
.mws-app {
  position: relative;
}
.page-code-container > div {
  border: 1px solid rgba(128, 128, 128, 0.25);
  padding: 15px 10px;
}

.footer-logo {
  display: flex;
}
.footer-logo img {
  width: 100%;
  max-width: 32px;
}
small {
  color: goldenrod;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--primary-button);
}
.btn-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;

  transition: all 0.35s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.85);
}

/* @media (prefers-color-scheme: light) {
} */
@media only screen and (min-width: 600px) {
  .btn {
    max-width: max-content;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .search-input:hover {
    opacity: 0.85;
  }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 70px;
    margin-bottom: 5px;
    letter-spacing: -3.5px;
  }

  h2 {
    font-size: 54px;
    letter-spacing: -1.5px;
  }

  h3 {
    letter-spacing: -2px;
    font-size: 35px;
  }

  p {
    /* font-size: 18px; */
  }

  .gradient {
    height: 500px;
    width: 500px;
    opacity: 0;
  }
  .block-show {
    display: flex;
    gap: 15px;

    min-height: 40vh;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-block.animate-fadeInUp {
  animation: fadeInUp 0.65s ease-in-out;
}
