.block-1-container {
  display: flex;
  flex-direction: column;
  margin: 120px 0;
}

.block-1-text {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
  padding: 0 5px;
  margin-bottom: 30px;
}
.block-1-text h3 {
  max-width: 650px;
}

.block-1-text a {
  margin-top: 10px;
}
.block-1-image {
  padding: 5px;

  display: none;
}
.block-1-image img {
  width: 100%;
  max-width: 400px;
}

/* animation */
.block-1-animation {
  border: 1px solid gray;
  position: relative;
  width: 100%;
}
.block1-a-frame {
  position: absolute;
  height: 80%;
  width: 80%;
  top: 0%;
  left: 0%;
}

#frame-1 {
  background-color: aqua;
  top: 0%;
  left: 20%;
  border-radius: 5px;
}
#frame-2 {
  background-color: red;
  top: 20%;
  left: 10%;
  border-radius: 5px;
}

@media only screen and (min-width: 600px) {
  .block-1-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .block-1-text a {
    margin-top: 10px;
  }

  .block-1-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
