.landing-container {
  position: relative;
  min-height: 70vh;
}
.landing-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.landing-container img {
  max-width: 300px;
}
.landing-container p {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}
.landing-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  animation: fadeUp 750ms ease-in-out;
}

.landing-image {
  animation: fadeInFromRight 750ms ease-in-out;
}
@media only screen and (min-width: 600px) {
  .landing-content {
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-container img {
    max-width: 500px;
  }
  .landing-text {
    justify-content: center;
    gap: 20px;
  }
  .landing-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
